<!DOCTYPE html>
<html lang="en">
<head>
  <title>LSF by dnoscp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<!--- site is developed with bootstrap5 -->
	<div class="container-fluid p-5 bg-primary text-white text-center">
  	<h1>Linux Securtity Framework</h1>
  	<p>by dhaneshsivasamy</p> 
  </div>

  <!--Container-->
  <div class="container mt-5">
    <!-- Row 1-->
    <div class="row">
      <!-- Col 1-->
      <div class="col-sm-4">
        <h3>Machine Information</h3>
        <p>id</p>
        <p>whoami</p>
        <p>hostname</p>
      </div>

      <!--col2-->
      <div class="col-sm-8 text-center">
        <h3>SAME ROW ?</h3>
        <p>dnoscp</p>
        <p>dnoscp</p>
        <p>dnoscp</p>
        <p>dnoscp</p>
        <p>dnoscp</p>
        <p>dnoscp</p>
      </div>
      
    </div>
  </div>

  <a href="/debug">Debug</a>
  
</body>
</html>
